<div style="position:relative; height:calc(100% - 2.5em); background:grey;padding:0.5em 0.5em 0.5em 0.5em;border-radius: 0.5em;margin:0.5em ;overflow:hidden" class="reveal-animation">
<h3 style="color:black"><span ng-bind="main.name"></span></h3>
<gant data="main.schedule" options="{
					colors:['orange','teal','orange','teal','orange','teal'],
					avoidOverlappingGridLines:false,
					backgroundColor : 'grey',
					timeline: {
						showBarLabels:true,
						rowLabelStyle :{color:'black', fontSize:8}}
				}" style="height:calc(100% - 3em);color:'teal';overflow:hidden;"></gant>
<div >

</div>
</div>